<!-- dom elements -->

<div class="container-fluid row-container">
    <div class="row sticker-container">
            <div class="sticker example-1 col-md-6"></div>

            <div class="sticker example-2 col-md-6"></div>

            <div class="sticker example-3 col-md-6"></div>

     </div>
</div>
