.navbar {
    background-color: #ffd716;
    text-decoration-color: blue;
    opacity: 0.8;
}

.footer {
    background-color: #e2ffb5;
}

html {
    background: url(/images/background-webs.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;

}
.sticker-container{
    margin-top: 270px;
    margin-left:auto;
    margin-right:auto;
    display: table;

}
.row-container{

}
.sticker {
    width: 180px;
    height: 180px;
    margin-left:40px;
    margin-right:40px;
    opacity: 0.8;

}

.example-1 .sticker-img {
    background-image: url(./../images/yad2.jpg) ;

}

.example-2 .sticker-img {
    background-image: url(./../images/ebay.jpg);

}

.example-3 .sticker-img {
    background-image: url(./../images/zap.jpg);
}

.example-2 .sticker-shadow {
    opacity: 0.9;
}

body {
    background: transparent;
}